Mount ggl drive

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

get data directory

In [3]:
# %cd /content/drive/My Drive/school/DSA3101/

import libraries

In [4]:
import pandas as pd
from datetime import datetime

# Preparation

placeholder data (without reco)

In [5]:
placeholder_df = pd.read_csv("placeholder_data.csv")
placeholder_df

,id,date,bank,client,rating,sentiment,intent,service,issue,review
0,1,2024-03-06,GXS,Apple,4,Negative,Praise,C,C1,Great banking app with attractive interest rat...
1,2,2022-11-09,GXS,Apple,5,Negative,Feedback,D,D1,"A bank like no other, no bank have such amazin..."
2,3,2023-09-09,GXS,Apple,1,Negative,Complaint,D,D3,Notice that the drop in interest rate of 0.8% ...
3,4,2023-06-27,GXS,Apple,2,Neutral,Feedback,D,D1,Sending money into my GXS account is a breeze ...
4,5,2022-10-02,GXS,Apple,5,Neutral,Praise,C,C1,I have to say that the UI/UX is one of the bes...
...,...,...,...,...,...,...,...,...,...,...
1089,1090,2023-12-26,Trust,Android,1,Neutral,Feedback,A,A2,"After the latest update, I can't even open the..."
1090,1091,2023-12-26,Trust,Android,5,Positive,Feedback,C,C3,How to pay my bill for trust card
1091,1092,2023-12-23,Trust,Android,3,Positive,Feedback,C,C1,the app indicates exchange rate in trust is be...
1092,1093,2023-12-22,Trust,Android,1,Positive,Feedback,A,A1,The app is in conflict with my phone voice rec...
1093,1094,2023-12-22,Trust,Android,1,Negative,Feedback,D,D3,"Buggy app, keeps asking me to relogin and upon..."

creating the placeholder+reco data

In [6]:
df = pd.read_csv("eda_res.csv")
#df.head()
top3 = df.recommendation_no.unique()
df_list = []
counter = 1
for rec in top3:
  issue1_df = df[df['recommendation_no'] == rec]
  issue1_df["recommendation"] = "text R" + str(counter)
  df_list.append(issue1_df)
  counter += 1

ph_reco_df = pd.concat([df_list[0], df_list[1], df_list[2]])
ph_reco_df

C:\Users\caleb\AppData\Local\Temp\ipykernel_89464\2988389837.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  issue1_df["recommendation"] = "text R" + str(counter)
C:\Users\caleb\AppData\Local\Temp\ipykernel_89464\2988389837.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  issue1_df["recommendation"] = "text R" + str(counter)
C:\Users\caleb\AppData\Local\Temp\ipykernel_89464\2988389837.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  issue1_df["recommendation"] = "text R" + str(counter)

,id,service,issue,recommendation_no,review,recommendation
0,1,C,C1,R1,Great banking app with attractive interest rat...,text R1
1,15,C,C1,R1,Despite a lengthy onboarding but my account go...,text R1
2,24,C,C1,R1,Can try for saving money !! My money said they...,text R1
3,120,C,C1,R1,Great features! Love it!,text R1
4,719,C,C1,R1,I don't set. A password in my phone n not allo...,text R1
5,824,C,C1,R1,"Barely a month in, GXS has indeed chosen to sl...",text R1
6,829,C,C1,R1,Seamless. Got it up and running in less than 5...,text R1
7,855,C,C1,R1,"Everytime successfully signec up, after log in...",text R1
8,860,C,C1,R1,Seamless registration. All done in less than 1...,text R1
9,867,C,C1,R1,Nice,text R1
10,3,D,D3,R2,Notice that the drop in interest rate of 0.8% ...,text R2
11,11,D,D3,R2,Honestly is my first time depositing digital b...,text R2
12,22,D,D3,R2,Very smooth to use and attractive app. Simple ...,text R2
13,50,D,D3,R2,Easy to use and log in! Very clean instruction.,text R2
14,60,D,D3,R2,GXS touted a 3.48% interest in their savings p...,text R2
15,67,D,D3,R2,Nice design!,text R2
16,80,D,D3,R2,App keeps giving me “something went wrong” and...,text R2
17,84,D,D3,R2,Apply one year ago..say when slots open up wil...,text R2
18,98,D,D3,R2,Good to use,text R2
19,129,D,D3,R2,🚀🚀🚀🚀🚀,text R2
20,709,D,D3,R2,good 👍,text R2
21,711,D,D3,R2,Hi any chance for foreign to apply? Im work at sg,text R2
22,739,D,D3,R2,Easy to use,text R2
23,3,D,D3,R3,Notice that the drop in interest rate of 0.8% ...,text R3
24,11,D,D3,R3,Honestly is my first time depositing digital b...,text R3
25,22,D,D3,R3,Very smooth to use and attractive app. Simple ...,text R3
26,50,D,D3,R3,Easy to use and log in! Very clean instruction.,text R3
27,60,D,D3,R3,GXS touted a 3.48% interest in their savings p...,text R3
28,67,D,D3,R3,Nice design!,text R3
29,80,D,D3,R3,App keeps giving me “something went wrong” and...,text R3
30,84,D,D3,R3,Apply one year ago..say when slots open up wil...,text R3
31,98,D,D3,R3,Good to use,text R3
32,112,D,D3,R3,"app is really easy to navigate, user-friendly",text R3
33,119,D,D3,R3,"useless app. unable to join or open account,\...",text R3
34,125,D,D3,R3,#NAME?,text R3
35,126,D,D3,R3,heheh,text R3
36,129,D,D3,R3,🚀🚀🚀🚀🚀,text R3
37,709,D,D3,R3,good 👍,text R3
38,711,D,D3,R3,Hi any chance for foreign to apply? Im work at sg,text R3
39,712,D,D3,R3,"Really really damm time wasting, if not ready ...",text R3
40,723,D,D3,R3,I'm stuck on the singpass page without being a...,text R3
41,739,D,D3,R3,Easy to use,text R3
42,741,D,D3,R3,Poor try attempted but still cannot . Terrible...,text R3
43,742,D,D3,R3,Few months have passed. And we still can't add...,text R3
44,752,D,D3,R3,Ease of use and payments,text R3
45,765,D,D3,R3,Friendly user,text R3
46,767,D,D3,R3,I hope the GXS Bank can given the interest 10%...,text R3
47,782,D,D3,R3,Awesome app for use,text R3
48,784,D,D3,R3,"Year 2023, a banking app that can't save pay, ...",text R3
49,791,D,D3,R3,Can't even open the GXS app... the only way to...,text R3
50,808,D,D3,R3,Was rejected without details,text R3
51,810,D,D3,R3,Cannot open the apps. Why partner with Grab? U...,text R3
52,819,D,D3,R3,"""Oops something went wrong! ..."" (if only i ca...",text R3
53,826,D,D3,R3,Interest rate dropping substantially after jus...,text R3
54,839,D,D3,R3,Cui full. Cannot sign up. Only on waiting list...,text R3
55,852,D,D3,R3,"Great experience. Setup, top up, setup pocket ...",text R3
56,862,D,D3,R3,blank screen after they pull all my Singpass d...,text R3
57,875,D,D3,R3,Great App Easy to use,text R3
58,880,D,D3,R3,Easy to register and deposit. Clean UI interface.,text R3

convert date to datetime variable

In [7]:
placeholder_df['date'] = placeholder_df['date'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
placeholder_df
#placeholder_df.dtypes

# get date from datetime
#clean_df['date_only'] = clean_df['date'].apply(lambda x: x.strftime("%d-%m-%Y"))
#clean_df['date_only'] = clean_df['date'].apply(lambda x: x.strftime("%m-%y"))
#clean_df = clean_df.loc[:, ~clean_df.columns.isin(['date'])]
#final_df = clean_df.rename(columns={"date_only": "date"})
#final_df.head()

,id,date,bank,client,rating,sentiment,intent,service,issue,review
0,1,2024-03-06,GXS,Apple,4,Negative,Praise,C,C1,Great banking app with attractive interest rat...
1,2,2022-11-09,GXS,Apple,5,Negative,Feedback,D,D1,"A bank like no other, no bank have such amazin..."
2,3,2023-09-09,GXS,Apple,1,Negative,Complaint,D,D3,Notice that the drop in interest rate of 0.8% ...
3,4,2023-06-27,GXS,Apple,2,Neutral,Feedback,D,D1,Sending money into my GXS account is a breeze ...
4,5,2022-10-02,GXS,Apple,5,Neutral,Praise,C,C1,I have to say that the UI/UX is one of the bes...
...,...,...,...,...,...,...,...,...,...,...
1089,1090,2023-12-26,Trust,Android,1,Neutral,Feedback,A,A2,"After the latest update, I can't even open the..."
1090,1091,2023-12-26,Trust,Android,5,Positive,Feedback,C,C3,How to pay my bill for trust card
1091,1092,2023-12-23,Trust,Android,3,Positive,Feedback,C,C1,the app indicates exchange rate in trust is be...
1092,1093,2023-12-22,Trust,Android,1,Positive,Feedback,A,A1,The app is in conflict with my phone voice rec...
1093,1094,2023-12-22,Trust,Android,1,Negative,Feedback,D,D3,"Buggy app, keeps asking me to relogin and upon..."

NPS function

In [8]:
def nps(df):

  # if df is empty
  if len(df) == 0:
    return "NA"

  # in case there are no negative/positive sentiment tagged reviews
  try:
    negative = df['sentiment'].value_counts()['Negative']
  except:
    negative = 0
  try:
    positive = df['sentiment'].value_counts()['Positive']
  except:
    positive = 0

  positive_percent = (positive/len(df)) * 100
  negative_percent = (negative/len(df)) * 100
  nps_score = round(positive_percent - negative_percent, 1)
  return nps_score

# 1. full table w/o recommendation

In [49]:
full_df = placeholder_df.iloc[:, 1:]
full_df['date'] = full_df['date'].apply(lambda x: x.strftime("%Y-%m-%d"))
full_df = full_df.astype(str)
full_df

,date,bank,client,rating,sentiment,intent,service,issue,review
0,2024-03-06,GXS,Apple,4,Negative,Praise,C,C1,Great banking app with attractive interest rat...
1,2022-11-09,GXS,Apple,5,Negative,Feedback,D,D1,"A bank like no other, no bank have such amazin..."
2,2023-09-09,GXS,Apple,1,Negative,Complaint,D,D3,Notice that the drop in interest rate of 0.8% ...
3,2023-06-27,GXS,Apple,2,Neutral,Feedback,D,D1,Sending money into my GXS account is a breeze ...
4,2022-10-02,GXS,Apple,5,Neutral,Praise,C,C1,I have to say that the UI/UX is one of the bes...
...,...,...,...,...,...,...,...,...,...
1089,2023-12-26,Trust,Android,1,Neutral,Feedback,A,A2,"After the latest update, I can't even open the..."
1090,2023-12-26,Trust,Android,5,Positive,Feedback,C,C3,How to pay my bill for trust card
1091,2023-12-23,Trust,Android,3,Positive,Feedback,C,C1,the app indicates exchange rate in trust is be...
1092,2023-12-22,Trust,Android,1,Positive,Feedback,A,A1,The app is in conflict with my phone voice rec...
1093,2023-12-22,Trust,Android,1,Negative,Feedback,D,D3,"Buggy app, keeps asking me to relogin and upon..."

# 2. service, issue, recommendation

In [10]:
# issues = ph_reco_df.issue.unique()
# serv_issue_rec_list = []

# for issue in issues:
#   issue_df = ph_reco_df[ph_reco_df['issue'] == issue]
#   service = issue_df.loc[:, 'service'].values[0]
#   reco = issue_df.loc[:, 'recommendation'].values[0]
#   serv_issue_rec_list.append([service, issue, reco])

# serv_issue_rec_df = pd.DataFrame(serv_issue_rec_list, columns = ["service", "issue", "recommendation"])
# serv_issue_rec_df

In [11]:
serv_issue_rec_df = pd.read_csv("recommendation_example.csv")
serv_issue_rec_df

  service issue                                     recommendation
0       C    C1  Improve the user experience by allowing users ...
1       D    D3  Communicate transparently with customers about...
2       D    D3   Learn from Trust Bank's efficient onboarding ...

# 3. bank, nps

In [12]:
banks = placeholder_df.bank.unique()
bank_nps_list = []

for bank in banks:
  bank_df = placeholder_df[placeholder_df['bank'] == bank]     # filter that bank only
  nps_score = nps(bank_df)
  bank_nps_list.append([bank, nps_score])

bank_nps_df = pd.DataFrame(bank_nps_list, columns = ["bank", "nps"])
bank_nps_df

       bank  nps
0       GXS  3.0
1     Trust -5.3
2  MariBank  9.5

# 4. service, issue, freq

In [13]:
top2_df = ph_reco_df[ph_reco_df['recommendation_no'] != 'R3']

issues = top2_df.issue.unique()
issue_freq_list = []

for issue in issues:
  issue_df = top2_df[top2_df['issue'] == issue]
  freq = len(issue_df)
  issue_freq_list.append([issue, freq])

issue_freq_df = pd.DataFrame(issue_freq_list, columns = ["issue", "frequency"])
issue_freq_df.drop_duplicates()
issue_freq_df

  issue  frequency
0    C1         10
1    D3         13

In [14]:
services = placeholder_df.service.unique()
serv_issue_freq_list = []

gxs_df = placeholder_df[placeholder_df['bank'] == 'GXS']
for service in services:
  service_df = gxs_df[gxs_df['service'] == service]
  issues = service_df.issue.unique()
  for issue in issues:

    issue_df = service_df[service_df['issue'] == issue]
    freq = len(issue_df)
    freq_percent = round(freq/len(service_df)*100, 1)
    serv_issue_freq_list.append([service, issue, freq_percent])

serv_issue_freq_df = pd.DataFrame(serv_issue_freq_list, columns = ["service", "issue", "frequency (%)"])
serv_issue_freq_df

   service issue  frequency (%)
0        C    C1           34.6
1        C    C2           34.6
2        C    C3           30.8
3        D    D1           35.3
4        D    D3           42.4
5        D    D2           22.4
6        A    A2           36.7
7        A    A3           36.7
8        A    A1           26.7
9        B    B3           29.5
10       B    B1           29.5
11       B    B2           41.0

# 5. month-year, nps

In [15]:
gxs_df = placeholder_df[placeholder_df['bank'] == 'GXS']
month_nps_list = []

# sort in chronological order
sorted_df = gxs_df.sort_values(by = ['date'])
sorted_df['date'] = sorted_df['date'].apply(lambda x: x.strftime("%m-%Y"))

for month in sorted_df.date.unique():
  curr_month_df = sorted_df[sorted_df['date'] == month]
  nps_score = nps(curr_month_df)
  month_nps_list.append([month, nps_score])

month_nps_df = pd.DataFrame(month_nps_list, columns = ["month", "nps"])
month_nps_df

      month    nps
0   09-2022  -66.7
1   10-2022   11.1
2   11-2022 -100.0
3   12-2022  -14.3
4   01-2023  -20.0
5   02-2023    0.0
6   04-2023  100.0
7   05-2023    0.0
8   06-2023  -15.4
9   07-2023    2.8
10  08-2023   17.1
11  09-2023   21.2
12  10-2023  -21.4
13  11-2023   14.0
14  12-2023   12.1
15  01-2024  -16.7
16  02-2024    0.0
17  03-2024   -6.2

# 6. bank, service, freq

In [16]:
banks = placeholder_df.bank.unique()
services = placeholder_df.service.unique()
bank_serv_freq_list = []

for bank in banks:
  bank_df = placeholder_df[placeholder_df['bank'] == bank]
  for service in services:
    service_df = bank_df[bank_df['service'] == service]
    freq = len(service_df)
    freq_percent = round(freq/len(bank_df)*100, 1)
    bank_serv_freq_list.append([bank, service, freq_percent])

bank_serv_freq_df = pd.DataFrame(bank_serv_freq_list, columns = ["bank", "service", "frequency (%)"])
bank_serv_freq_df

        bank service  frequency (%)
0        GXS       C           23.6
1        GXS       D           25.7
2        GXS       A           27.2
3        GXS       B           23.6
4      Trust       C           23.0
5      Trust       D           27.5
6      Trust       A           27.4
7      Trust       B           22.1
8   MariBank       C           19.0
9   MariBank       D           19.0
10  MariBank       A           28.6
11  MariBank       B           33.3

# 7. bank, issue, freq

In [17]:
compare_df = ph_reco_df[ph_reco_df['recommendation_no'] == "R3"]
compare_service = issue_df.loc[:, 'service'].values[0]
compare_service_df = placeholder_df[placeholder_df['service'] == compare_service]
banks = compare_service_df.bank.unique()
issues = compare_service_df.issue.unique()
bank_issue_freq_list = []

for bank in banks:
  bank_df = compare_service_df[compare_service_df['bank'] == bank]
  for issue in issues:
    issue_df = bank_df[bank_df['issue'] == issue]
    freq = len(issue_df)
    freq_percent = round(freq/len(bank_df)*100,1)
    bank_issue_freq_list.append([bank, issue, freq_percent])

bank_issue_freq_df = pd.DataFrame(bank_issue_freq_list, columns = ["bank", "issue", "frequency (%)"])
bank_issue_freq_df

       bank issue  frequency (%)
0       GXS    B3           29.5
1       GXS    B1           29.5
2       GXS    B2           41.0
3     Trust    B3           39.6
4     Trust    B1           27.4
5     Trust    B2           32.9
6  MariBank    B3           14.3
7  MariBank    B1           42.9
8  MariBank    B2           42.9

# 8. recommendation, nps

In [18]:
serv_issue_rec_df = pd.read_csv("recommendation_example.csv")
serv_issue_rec_df

  service issue                                     recommendation
0       C    C1  Improve the user experience by allowing users ...
1       D    D3  Communicate transparently with customers about...
2       D    D3   Learn from Trust Bank's efficient onboarding ...

In [19]:
issues_list = []
issues = serv_issue_rec_df.issue
for issue in issues:
  issues_list.append(issue)

#issues_list
issue_1, issue_2, issue_3 = issues_list
print(issue_1, issue_2, issue_3)
#issue_1

C1 D3 D3

In [20]:
rec_list = []
recommendations = serv_issue_rec_df.recommendation
for rec in recommendations:
  rec_list.append(rec)

#issues_list
rec_1, rec_2, rec_3 = rec_list
print(rec_1, rec_2, rec_3)

Improve the user experience by allowing users to easily add and save payees to the banking app to streamline transactions. Communicate transparently with customers about changes in interest rates to build trust and avoid negative perceptions.  Learn from Trust Bank's efficient onboarding process to enhance customer satisfaction and retention.

In [21]:
gxs_df.head()

,id,date,bank,client,rating,sentiment,intent,service,issue,review
0,1,2024-03-06,GXS,Apple,4,Negative,Praise,C,C1,Great banking app with attractive interest rat...
1,2,2022-11-09,GXS,Apple,5,Negative,Feedback,D,D1,"A bank like no other, no bank have such amazin..."
2,3,2023-09-09,GXS,Apple,1,Negative,Complaint,D,D3,Notice that the drop in interest rate of 0.8% ...
3,4,2023-06-27,GXS,Apple,2,Neutral,Feedback,D,D1,Sending money into my GXS account is a breeze ...
4,5,2022-10-02,GXS,Apple,5,Neutral,Praise,C,C1,I have to say that the UI/UX is one of the bes...

In [22]:
condition1 = gxs_df['sentiment'] == "Negative"  # Example condition 1
condition2 = gxs_df['issue'] == issue_1
combined_condition = condition1 & condition2

resolve_issue_1_df = gxs_df[~combined_condition]
resolve_issue_1_df['recommendation'] = rec_1
resolve_issue_1_df.head()

C:\Users\caleb\AppData\Local\Temp\ipykernel_89464\1172902702.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resolve_issue_1_df['recommendation'] = rec_1

,id,date,bank,client,rating,sentiment,intent,service,issue,review,recommendation
1,2,2022-11-09,GXS,Apple,5,Negative,Feedback,D,D1,"A bank like no other, no bank have such amazin...",Improve the user experience by allowing users ...
2,3,2023-09-09,GXS,Apple,1,Negative,Complaint,D,D3,Notice that the drop in interest rate of 0.8% ...,Improve the user experience by allowing users ...
3,4,2023-06-27,GXS,Apple,2,Neutral,Feedback,D,D1,Sending money into my GXS account is a breeze ...,Improve the user experience by allowing users ...
4,5,2022-10-02,GXS,Apple,5,Neutral,Praise,C,C1,I have to say that the UI/UX is one of the bes...,Improve the user experience by allowing users ...
5,6,2023-04-23,GXS,Apple,1,Positive,Feedback,A,A2,Have been waiting for a slot for the account s...,Improve the user experience by allowing users ...

In [23]:
condition3 = gxs_df['issue'] == issue_2
combined_condition_2 = condition1 & condition3

resolve_issue_2_df = gxs_df[~combined_condition_2]
resolve_issue_2_df['recommendation'] = rec_2
resolve_issue_2_df.head()

C:\Users\caleb\AppData\Local\Temp\ipykernel_89464\3758463936.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resolve_issue_2_df['recommendation'] = rec_2

,id,date,bank,client,rating,sentiment,intent,service,issue,review,recommendation
0,1,2024-03-06,GXS,Apple,4,Negative,Praise,C,C1,Great banking app with attractive interest rat...,Communicate transparently with customers about...
1,2,2022-11-09,GXS,Apple,5,Negative,Feedback,D,D1,"A bank like no other, no bank have such amazin...",Communicate transparently with customers about...
3,4,2023-06-27,GXS,Apple,2,Neutral,Feedback,D,D1,Sending money into my GXS account is a breeze ...,Communicate transparently with customers about...
4,5,2022-10-02,GXS,Apple,5,Neutral,Praise,C,C1,I have to say that the UI/UX is one of the bes...,Communicate transparently with customers about...
5,6,2023-04-23,GXS,Apple,1,Positive,Feedback,A,A2,Have been waiting for a slot for the account s...,Communicate transparently with customers about...

In [24]:
condition4 = gxs_df['issue'] == issue_3
combined_condition_3 = condition1 & condition4

resolve_issue_3_df = gxs_df[~combined_condition_3]
resolve_issue_3_df['recommendation'] = rec_3
resolve_issue_3_df.head()

C:\Users\caleb\AppData\Local\Temp\ipykernel_89464\2462057601.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resolve_issue_3_df['recommendation'] = rec_3

,id,date,bank,client,rating,sentiment,intent,service,issue,review,recommendation
0,1,2024-03-06,GXS,Apple,4,Negative,Praise,C,C1,Great banking app with attractive interest rat...,Learn from Trust Bank's efficient onboarding ...
1,2,2022-11-09,GXS,Apple,5,Negative,Feedback,D,D1,"A bank like no other, no bank have such amazin...",Learn from Trust Bank's efficient onboarding ...
3,4,2023-06-27,GXS,Apple,2,Neutral,Feedback,D,D1,Sending money into my GXS account is a breeze ...,Learn from Trust Bank's efficient onboarding ...
4,5,2022-10-02,GXS,Apple,5,Neutral,Praise,C,C1,I have to say that the UI/UX is one of the bes...,Learn from Trust Bank's efficient onboarding ...
5,6,2023-04-23,GXS,Apple,1,Positive,Feedback,A,A2,Have been waiting for a slot for the account s...,Learn from Trust Bank's efficient onboarding ...

In [25]:
resolve_rec_df = pd.concat([resolve_issue_1_df, resolve_issue_2_df])
resolve_rec_df = resolve_rec_df[['recommendation', 'sentiment']]
resolve_rec_df

                                        recommendation sentiment
1    Improve the user experience by allowing users ...  Negative
2    Improve the user experience by allowing users ...  Negative
3    Improve the user experience by allowing users ...   Neutral
4    Improve the user experience by allowing users ...   Neutral
5    Improve the user experience by allowing users ...  Positive
..                                                 ...       ...
890  Communicate transparently with customers about...  Negative
891  Communicate transparently with customers about...  Positive
892  Communicate transparently with customers about...   Neutral
893  Communicate transparently with customers about...   Neutral
894  Communicate transparently with customers about...  Negative

[639 rows x 2 columns]

In [26]:
recommendations = resolve_rec_df.recommendation.unique()
rec_nps_list = []

for rec in recommendations:
  rec_df = resolve_rec_df[resolve_rec_df['recommendation'] == rec]
  nps_score = nps(rec_df)
  rec_nps_list.append([rec, nps_score])

whatif_rec_nps_df = pd.DataFrame(rec_nps_list, columns = ["recommendation", "nps"])
whatif_rec_nps_df

                                      recommendation  nps
0  Improve the user experience by allowing users ...  6.2
1  Communicate transparently with customers about...  7.2

# 9. bank,nps

In [27]:
condition4 = placeholder_df['issue'] == issue_3
condition5 = placeholder_df['bank'] == 'GXS'
condition6 = placeholder_df['sentiment'] == 'Negative'
combined_condition_3 = condition4 & condition5 & condition6

resolve_issue_3_df = placeholder_df[~combined_condition_3]
resolve_issue_3_df['recommendation'] = rec_3
resolve_issue_3_df

C:\Users\caleb\AppData\Local\Temp\ipykernel_89464\903706744.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resolve_issue_3_df['recommendation'] = rec_3

,id,date,bank,client,rating,sentiment,intent,service,issue,review,recommendation
0,1,2024-03-06,GXS,Apple,4,Negative,Praise,C,C1,Great banking app with attractive interest rat...,Learn from Trust Bank's efficient onboarding ...
1,2,2022-11-09,GXS,Apple,5,Negative,Feedback,D,D1,"A bank like no other, no bank have such amazin...",Learn from Trust Bank's efficient onboarding ...
3,4,2023-06-27,GXS,Apple,2,Neutral,Feedback,D,D1,Sending money into my GXS account is a breeze ...,Learn from Trust Bank's efficient onboarding ...
4,5,2022-10-02,GXS,Apple,5,Neutral,Praise,C,C1,I have to say that the UI/UX is one of the bes...,Learn from Trust Bank's efficient onboarding ...
5,6,2023-04-23,GXS,Apple,1,Positive,Feedback,A,A2,Have been waiting for a slot for the account s...,Learn from Trust Bank's efficient onboarding ...
...,...,...,...,...,...,...,...,...,...,...,...
1089,1090,2023-12-26,Trust,Android,1,Neutral,Feedback,A,A2,"After the latest update, I can't even open the...",Learn from Trust Bank's efficient onboarding ...
1090,1091,2023-12-26,Trust,Android,5,Positive,Feedback,C,C3,How to pay my bill for trust card,Learn from Trust Bank's efficient onboarding ...
1091,1092,2023-12-23,Trust,Android,3,Positive,Feedback,C,C1,the app indicates exchange rate in trust is be...,Learn from Trust Bank's efficient onboarding ...
1092,1093,2023-12-22,Trust,Android,1,Positive,Feedback,A,A1,The app is in conflict with my phone voice rec...,Learn from Trust Bank's efficient onboarding ...
1093,1094,2023-12-22,Trust,Android,1,Negative,Feedback,D,D3,"Buggy app, keeps asking me to relogin and upon...",Learn from Trust Bank's efficient onboarding ...

In [28]:
banks = resolve_issue_3_df.bank.unique()
bank_nps_list = []

for bank in banks:
  bank_df = resolve_issue_3_df[resolve_issue_3_df['bank'] == bank]     # filter that bank only
  nps_score = nps(bank_df)
  bank_nps_list.append([bank, nps_score])

whatif_bank_nps_df = pd.DataFrame(bank_nps_list, columns = ["bank", "nps"])
whatif_bank_nps_df

       bank  nps
0       GXS  7.2
1     Trust -5.3
2  MariBank  9.5

convert to json

In [29]:
from json import loads, dumps

In [30]:
# json_list = full_df
# serv_issue_rec_df
# bank_nps_df
# serv_issue_freq_df
# month_nps_df
# bank_serv_freq_df
# bank_issue_freq_df
# whatif_rec_nps_df
# whatif_bank_nps_df

In [58]:
full_json_list = full_df.to_json(date_format='%Y-%m-%d', orient='records')
full_json = loads(full_json_list)
full_json_object = dumps(full_json, indent=4)
full_json
with open("full.json", "w") as outfile:
    outfile.write(full_json_object)

serv_issue_rec_json_list = serv_issue_rec_df.to_json(orient='records')
serv_issue_rec_json = loads(serv_issue_rec_json_list)
serv_issue_rec_json_object = dumps(serv_issue_rec_json, indent=4)
with open("serv_issue_rec.json", "w") as outfile:
    outfile.write(serv_issue_rec_json_object)

bank_nps_json_list = bank_nps_df.to_json(orient='records')
bank_nps_json = loads(bank_nps_json_list)
bank_nps_json_object = dumps(bank_nps_json, indent=4)
with open("bank_nps.json", "w") as outfile:
    outfile.write(bank_nps_json_object)

serv_issue_freq_json_list = serv_issue_freq_df.to_json(orient='records')
serv_issue_freq_json = loads(serv_issue_freq_json_list)
serv_issue_freq_json_object = dumps(serv_issue_freq_json, indent=4)
with open("serv_issue_freq.json", "w") as outfile:
    outfile.write(serv_issue_freq_json_object)

month_nps_json_list = month_nps_df.to_json(orient='records')
month_nps_json = loads(month_nps_json_list)
month_nps_json_object = dumps(month_nps_json, indent=4)
with open("month_nps.json", "w") as outfile:
    outfile.write(month_nps_json_object)

bank_issue_freq_json_list = bank_issue_freq_df.to_json(orient='records')
bank_issue_freq_json = loads(bank_issue_freq_json_list)
bank_issue_freq_json_object = dumps(bank_issue_freq_json, indent=4)
with open("bank_issue_freq.json", "w") as outfile:
    outfile.write(bank_issue_freq_json_object)

whatif_rec_nps_json_list = whatif_rec_nps_df.to_json(orient='records')
whatif_rec_nps_json = loads(whatif_rec_nps_json_list)
whatif_rec_nps_json_object = dumps(whatif_rec_nps_json, indent=4)
with open("whatif_rec_nps.json", "w") as outfile:
    outfile.write(whatif_rec_nps_json_object)

whatif_bank_nps_json_list = whatif_bank_nps_df.to_json(orient='records')
whatif_bank_nps_json = loads(whatif_bank_nps_json_list)
whatif_bank_nps_json_object = dumps(whatif_bank_nps_json, indent=4)
with open("whatif_bank_nps.json", "w") as outfile:
    outfile.write(whatif_bank_nps_json_object)